body {
    font-family: "Ubuntu";
}

.restart {
    color: #F73859;
    font-weight: 900;
}

.btn-icon {
    color: #F73859;
}

.container-fluid {
    padding: 3% 10% 0 10%;
}

.colored-section {
    background-color: #303841;
    color: white;
}

.white-section {
    background-color: white;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 1000;
}

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    padding: 10rem 0 3rem 0;
}

p {
    color: #8c8c8c;
}

h5 {
    line-height: 1.5;
    color: #8c8c8c;
}

.navbar {
    padding: 0;
    /*4.5 bottom only*/
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.radnovrijeme-button,
.kontakt-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 110%;
    padding: 7rem 0 2rem 0;
}

#features {
    padding: 7% 15%;
    /*7 top bottom, 15 left right*/
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #303841;
    margin-bottom: 2rem;
    color: #F73859;
}

.icon:hover {
    color: black;
}

#testimonials {
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

.heart {
    margin: 50px;
    width: 10%;
    color: #F73859;
}

#onama {
    padding: 70px 90px 0 90px;
    /*top left bottom right*/
}

.uvod {
    padding: 0 0 0 4rem;
}

.onama-column {
    padding: 7% 2%;
    text-align: center;
}

.onama-image-davor {
    width: 35%;
    border-radius: 100%;
    margin: 20px;
}

.onama-image-antun {
    width: 37%;
    border-radius: 100%;
    margin: 25px;
}

#footer {
    text-align: center;
    padding: 2% 0 1% 0;
}

.card-body {
    text-align: left;
}

.restartteam {
    padding: 0 0 3%;
}

@media (max-width: 1028) {

    /*ne radi 84.*/
    /*vrijedi za 1028 i manje od toga, ne za više*/
    body {
        text-align: center;
    }

    .title-image {
        width: 60%;
        position: static;
    }
}

/* id > class > h element */